<div class="row js-addresses-form">
  <div class="col-12 col-md-6">
    <%= f.field_container :name do %>
      <%= f.label :name, class: 'required' %>
      <%= f.text_field :name, required: true, class: 'fullwidth' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :code do %>
      <%= f.label :code, class: 'required' %>
      <%= f.field_hint :code %>
      <%= f.text_field :code, required: true, class: 'fullwidth' %>
      <%= f.error_message_on :code %>
    <% end %>

    <%= f.field_container :seo_title do %>
      <%= f.label :seo_title %>
      <%= f.text_field :seo_title, class: 'fullwidth' %>
      <%= f.error_message_on :seo_title %>
    <% end %>

    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords %>
      <%= f.text_field :meta_keywords, class: 'fullwidth' %>
      <%= f.error_message_on :meta_keywords %>
    <% end %>

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description %>
      <%= f.text_area :meta_description, class: 'fullwidth' %>
      <%= f.error_message_on :meta_description %>
    <% end %>

    <%= f.field_container :legal_name do %>
      <%= f.label :legal_name %>
      <%= f.text_field :legal_name, class: 'fullwidth' %>
      <%= f.error_message_on :legal_name %>
    <% end %>

    <%= f.field_container :contact_phone do %>
      <%= f.label :contact_phone %>
      <%= f.phone_field :contact_phone, class: 'fullwidth' %>
      <%= f.error_message_on :contact_phone %>
    <% end %>

    <%= f.field_container :tax_id do %>
      <%= f.label :tax_id %>
      <%= f.text_field :tax_id, class: 'fullwidth' %>
      <%= f.error_message_on :tax_id %>
    <% end %>

    <%= f.field_container :vat_id do %>
      <%= f.label :vat_id %>
      <%= f.text_field :vat_id, class: 'fullwidth' %>
      <%= f.error_message_on :vat_id %>
    <% end %>

  </div>

  <div class="col-12 col-md-6">
    <%= f.field_container :url do %>
      <%= f.label :url, class: 'required' %>
      <%= f.text_field :url, required: true, class: 'fullwidth' %>
      <%= f.error_message_on :url %>
    <% end %>

    <%= f.field_container :mail_from_address do %>
      <%= f.label :mail_from_address, class: 'required' %>
      <%= f.email_field :mail_from_address, required: true, class: 'fullwidth' %>
      <%= f.error_message_on :mail_from_address %>
    <% end %>

    <%= f.field_container :bcc_email do %>
      <%= f.label :bcc_email %>
      <%= f.email_field :bcc_email, class: 'fullwidth' %>
      <%= f.error_message_on :bcc_email %>
    <% end %>

    <%= f.field_container :default_currency do %>
      <%= f.label :default_currency %>
      <%= f.field_hint :default_currency %>
      <%= f.select :default_currency,
        Spree::Config.available_currencies.map(&:iso_code),
        { include_blank: true },
        { class: 'custom-select fullwidth' } %>
      <%= f.error_message_on :default_currency %>
    <% end %>

    <%= f.field_container :cart_tax_country_iso do %>
      <%= f.label :cart_tax_country_iso %>
      <%= f.field_hint :cart_tax_country_iso %>
      <%= f.collection_select :cart_tax_country_iso,
        available_countries(restrict_to_zone: nil), :iso, :name,
        { include_blank: t(".no_cart_tax_country") },
        { class: "custom-select fullwidth" } %>
      <%= f.error_message_on :cart_tax_country_iso %>
    <% end %>

    <%= f.field_container :available_locales do %>
      <%= f.label :available_locales %>
      <%= f.field_hint :available_locales %>
      <%= f.select :available_locales,
        Spree.i18n_available_locales.map { |locale|
          [I18n.t('spree.i18n.this_file_language', locale: locale, default: locale.to_s, fallback: false), locale]
        }.sort,
        { },
        { class: 'select2 fullwidth', multiple: true } %>
      <%= f.error_message_on :default_currency %>
    <% end %>

    <%= f.field_container :contact_email do %>
      <%= f.label :contact_email %>
      <%= f.email_field :contact_email, class: 'fullwidth' %>
      <%= f.error_message_on :contact_email %>
    <% end %>

    <%= f.field_container :description do %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'fullwidth', rows: 6 %>
      <%= f.error_message_on :description %>
    <% end %>
  </div>

  <div class="col-12">
    <%= f.label :address %>
    <div class="row border mx-1 py-3 border-secondary rounded">
      <div class="col-md-6 mb-3">
        <%= f.field_container :address1 do %>
          <%= f.label :address1 %>
          <%= f.text_field :address1, class: 'fullwidth' %>
        <% end %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.field_container :address2 do %>
          <%= f.label :address2 %>
          <%= f.text_field :address2, class: 'fullwidth' %>
        <% end %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.field_container :city do %>
          <%= f.label :city %>
          <%= f.text_field :city, class: 'fullwidth' %>
        <% end %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.field_container :postal_code do %>
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code, class: 'fullwidth' %>
        <% end %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.field_container :country_id do %>
          <%= f.label :country_id %>
          <span id="country"><%= f.collection_select :country_id, available_countries(restrict_to_zone: nil), :id, :name, { include_blank: true }, { class: 'custom-select js-country_id fullwidth' } %></span>
        <% end %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.field_container :state do %>
          <% country = f.object.country %>
          <%= f.label :state_id %>
          <span id="state" class="region">
            <%= f.text_field :state_name, style: "display: none", class: 'fullwidth state_name js-state_name' %>
            <%= f.collection_select :state_id, country ? country.states.sort : [], :id, :name, { include_blank: true }, {class: 'custom-select fullwidth js-state_id', style: "display: none" } %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
